<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Fantasy Basketball Web App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">
              <img src="{{url_for('static', filename='bball.svg')}}" alt="Basketball" width="30" height="24">
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('table') }}">Table</a>
                </li>
            </ul>
        </div>
    </nav>
    <section class = "section-content m-3 p-2">
        <header>
            {% block header %}{% endblock %}
        </header>
        <div class="card">
            <div class="card-body">
                {% block content %}{% endblock %}
            </div>
        </div>
    </section>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://github.com/Ed7723/SalaryCapOptimizer"><img src="{{url_for('static', filename='github.svg')}}" alt="github"></a></div>
            <p class="copyright">Created by Edward Ding, Jason Nguyen, and Gordon Lin for Slam Dunk Hacks II</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>