{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container-pic-one p-2">
  <div class="container-pic-two">
    <img src="{{url_for('static', filename='frontpic.jpg')}}" class="img-fluid" alt="firstPic">
  </div>
</div>
<div class="col-dropdown">
  <div class="dropdown">
     <a class="btn btn-warning dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Choose Player
     </a>
     <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{ url_for('get_player_prediction_pascal') }}">Pascal Siakam</a></li>
        <li><a class="dropdown-item" href="{{ url_for('get_player_prediction_fred') }}">Fred Vanvleet</a></li>
        <li><a class="dropdown-item" href="{{ url_for('get_player_prediction_scottie') }}">Scottie Barnes</a></li>
        <li><a class="dropdown-item" href="{{ url_for('get_player_prediction_gary') }}">Gary Trent Jr</a></li>
        <li><a class="dropdown-item" href="{{ url_for('get_player_prediction_og') }}">OG Anunoby</a></li>
     </ul>
   </div>
</div>
{% endblock %}